name: the_truth_daily
description: A daily verse app in command > promise > rights format.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.5.0 <4.0.0'
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.5
  flutter_dotenv: ^5.2.1
  google_fonts: ^6.2.1
  just_audio: ^0.9.40
  shared_preferences: ^2.3.2
  http: ^1.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/screenshots/
